.container {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 325px;
  min-height: 100vh;
  padding: 3rem 0.75rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.googleLogin {
  align-items: center;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}
