.container {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 3rem 0.75rem;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.text {
  font-size: 1rem;
  margin: 2rem 0 0.5rem 0;
}
