.container {
  max-width: 100%;
  min-height: 90vh;
  overflow-x: hidden;
  padding: calc(var(--navbar-height) + 1rem) 1rem 1rem 1rem;
  width: 100%;
}

.container h1 {
  color: var(--color-4);
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .container {
    padding: calc(var(--navbar-height) + 2rem) 2rem 2rem 2rem;
  }
}
