:root {
  --gray: #f1eaea;
  --red: #c91111;
  --palette-1: #1e3b71;
  --palette-2: #2a9d90;
  --palette-3: #f4a462;
  --palette-4: #e8c468;
  --palette-5: #292c33;
  --palette-6: #d96b52;
  --palette-7: #415a77;
  --font-size-sm: 14px;
  --font-size-rg: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 34px;
  --font-size-4xl: 48px;
  --navbar-height: 70px;
  --navbar-padding-inline: 2rem;
  --section-max-width: 1480px;
  --section-padding-inline-sm: 0.75rem;
  --section-padding-inline-lg: 2.5rem;
  --section-padding-block: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a,
button {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

a:hover {
  text-underline-offset: 2.5px;
  text-decoration: underline;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

.toast-progress-dark {
  background: rgb(187 186 186) !important;
}

/* Reusable classes */

.wrapper {
  margin: 0 auto;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--section-max-width);
  padding-top: var(--section-padding-block);
  padding-inline: var(--section-padding-inline-sm);
}

@media screen and (min-width: 992px) {
  .section {
    padding-inline: var(--section-padding-inline-lg);
  }
}
