:root {
  --color-1: #e3e3e3;
  --color-2: #ff9f1c;
  --color-3: #ff5c5c;
  --color-4: #264478;
  --color-5: #815b5a;
  --color-6: #362b2b;
  --color-7: #120d0d;
  --danger: #c91111;
  --danger-hover: #9b0f0f;
  --linear-gradient: linear-gradient(
    0.25turn,
    #e3e3e3,
    #ff5c5c,
    #815b5a,
    #362b2b,
    #120d0d
  );
  --success: #16a34a;
  --warning: #eab308;
  --warning-hover: #ca9a06;
  --font-size-sm: 14px;
  --font-size-rg: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 28px;
  --font-size-3xl: 34px;
  --font-size-4xl: 48px;
  --navbar-height: 80px;
  --navbar-padding-inline: 2rem;
  --section-max-width: 1480px;
  --section-padding-inline-sm: 0.75rem;
  --section-padding-inline-lg: 2.5rem;
  --section-padding-block: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a,
button {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

a:hover {
  text-underline-offset: 2.5px;
  text-decoration: underline;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

.toast-progress-dark {
  background: rgb(187 186 186) !important;
}

/* Custom SweetAlert2 loader color */
.custom-loader {
  border-color: var(--success) !important;
  border-right-color: transparent !important;
}

/* Reusable classes */

.wrapper {
  margin: 0 auto;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--section-max-width);
  padding-top: var(--section-padding-block);
  padding-inline: var(--section-padding-inline-sm);
}

@media screen and (min-width: 992px) {
  .section {
    padding-inline: var(--section-padding-inline-lg);
  }
}
