.description {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 1200px;
  min-height: 400px;
  padding: 5rem 2.75rem;
}

.description h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  margin-bottom: 3rem;
  max-width: 30ch;
  text-align: center;
}

.description h1 span:first-of-type {
  color: var(--color-2);
}

.description h1 span:nth-of-type(2) {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.description h1 span:last-of-type {
  color: var(--color-2);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.description ul li {
  margin: 0.5rem;
}

.description ul li:last-of-type {
  margin-bottom: 0;
}

.aboutMe {
  align-items: center;
  background-color: var(--gray-100);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  max-width: 1200px;
  min-height: 400px;
  padding: 5rem 2.75rem;
}

.aboutMeButton {
  margin-top: 2rem;
}

.aboutMe ul li {
  margin: 0.5rem;
}

.aboutMe ul li:last-of-type {
  margin-bottom: 0;
}

.reviews {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  max-width: 1200px;
  min-height: 400px;
  padding: 5rem 2.75rem;
}

.reviews h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.reviews ul li {
  margin: 0.5rem;
}

.reviews ul li:last-of-type {
  margin-bottom: 0;
}

.faq {
  align-items: center;
  background-color: var(--gray-100);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  max-width: 1200px;
  min-height: 400px;
  padding: 5rem 2.75rem;
}

.faq h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.faq ul li {
  margin: 0.5rem;
}

.faq ul li:last-of-type {
  margin-bottom: 0;
}

.resources {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem auto;
  max-width: 1200px;
  min-height: 400px;
  padding: 5rem 2.75rem;
}

.resources h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.resources ul li {
  margin: 0.5rem;
}

.resources ul li:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .hero {
    padding: 5rem 0.75rem;
  }
}
