.container {
  /* background: linear-gradient(
    120deg,
    var(--palette-2),
    var(--palette-1),
    var(--palette-5)
  ); */
  background: linear-gradient(120deg, var(--palette-1), #162c54);
  /* background-color: var(--palette-1); */
  display: flex;
  flex-wrap: wrap;
  padding: 2.25rem 2.75rem;
  position: relative;
}

.logo {
  font-size: 2.75rem;
  font-weight: 700;
}
