.sidebar {
  align-items: center;
  background: var(--palette-5);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: calc(var(--navbar-height) + 2.5rem);
  padding-inline: 1rem;
  text-align: center;
}

.sidebar ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.sidebar a,
.sidebar .logoutContainer {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  gap: 0.75rem;
  text-decoration: none;
}

.sidebar .active {
  color: var(--palette-3);
}

.sidebar a:hover,
.sidebar .logoutContainer:hover {
  color: var(--palette-3);
}

.sidebar a:hover > svg {
  stroke: var(--palette-3);
}

.sidebar .logoutContainer:hover svg {
  stroke: var(--palette-3);
}

.sidebar li span {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    max-width: 150px;
    min-width: 200px;
    padding-inline: 1rem;
  }

  .sidebar li span {
    display: block;
  }
}
