.link {
  background-color: var(--palette-2);
  border-radius: 0.75rem;
  border: var(--red-700) 1px solid;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
}

.link.disabled {
  border-color: var(--gray-200);
  color: var(--gray-200);
  cursor: default;
  pointer-events: none;
}

.link:hover {
  background-color: var(--palette-4);
  text-decoration: none;
}
