.sidebar {
  align-items: center;
  background: var(--palette-5);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 200px;
  padding: 5rem 1rem;
  text-align: center;
}

.sidebarTitle {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
}

.sidebar ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.sidebar a {
  font-size: 1rem;
  text-decoration: none;
}

.sidebar a:hover {
  color: var(--palette-3);
}

.sidebar .active {
  color: var(--palette-3);
}

.sidebar button {
  font-size: 1rem;
}
