.container {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 3rem 0;
  min-height: 100vh;
  padding: 3rem 0.75rem;
}

.classes {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.text {
  border: var(--palette-3) 2px solid;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 1.5rem;
  max-height: fit-content;
  padding: 2.5rem 1rem 1rem 1rem;
  white-space: pre-line;
}

.text span {
  font-weight: 700;
}

.subtitle {
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-decoration: underline;
}

.button {
  font-size: 1rem;
  margin-left: auto;
}
