.form {
  background-color: var(--gray-100);
  border: var(--color-4) 1px solid;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 2.25rem 1.75rem;
  width: 100%;
}

.form button {
  margin: 1rem 0 0 auto;
}

.form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 30px;
  padding: 8px;
  width: 100%;
}

.formCustomError {
  color: var(--danger);
  font-size: 0.85rem;
}

.formRow {
  display: flex;
  margin: 0.5rem 0;
}

.hidden {
  display: none;
}

.link {
  margin-top: 2rem;
}
