.hero {
  background-color: var(--gray);
  color: #000;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 1200px;
  min-height: 400px;
  padding: 5rem 2.75rem;
}

.heroHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.heroImage {
  align-items: center;
  border: #000 2px solid;
  color: #000;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 375px;
  justify-content: center;
  min-height: 375px;
  text-align: center;
  width: 100%;
}

.heroText {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.75rem;
  justify-content: center;
  max-width: 50ch;
  width: 100%;
}

.link {
  margin-left: auto;
  max-width: 325px;
}

@media (min-width: 992px) {
  .heroHeader {
    flex-direction: row;
    justify-content: space-between;
  }
}
