.link {
  align-items: center;
  background: var(--palette-5);
  border: #fff 1px solid;
  border-radius: 0.75rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size-rg);
  font-weight: 700;
  justify-content: center;
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
}

.link.danger {
  background-color: #dc2626;
  border: 1px solid #b91c1c;
}

.link.danger:hover {
  background-color: #b91c1c;
}

.link.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.link:hover {
  background-color: var(--palette-1);
  text-decoration: none;
}

.iconLeft {
  margin-right: 0.5rem;
}

.iconRight {
  margin-left: 0.5rem;
}
